:root{
    --primary-color:#212121;
    --secondary-color:#757575;
    --accent-color: #2196F3;
    --logo-color:#000000;
    --white-color:#ffffff;
    --buttons-color:#F5F4FA;
    --address-color:rgba(255, 255, 255, 0.6);
    --button-active:#188CE8;
    --hero-color:#2F303A;
    --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,p{
    margin: 0; 
}

body{
    font-family: Roboto, sans-serif;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--primary-color);
    background-color: var(--white-color);
}

img {
    display: block;
    max-width: 100%;
}

/* Header */

.page-header {
    background-color: var(--white-color);

    border-bottom: 1px solid #ECECEC;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.addition {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--logo-color);
    
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo--inverse {
    color: var(--white-color);
}

.logo__lable {
    color: var(--accent-color);
}

.header-nav__pages {
    display: flex;
    margin-left: 93px;
}

.header-nav__item {
    margin-left: 50px;
}

.header-nav__item:first-child {
    margin-left: 0;
}

.header-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    
    color: var(--primary-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--primary-transition);
}

.header-nav__link:hover,
.header-nav__link:focus {
    color: var(--accent-color);
    transition: color var(--primary-transition);
}

.header-nav__link--active {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.active::after {
    position: absolute;
    
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: -1px;
}

.header-contact {
    display: flex;
    margin-left: auto;
}

.header-contact__item {
    margin-left: 50px;
}

.header-contact__item:first-child {
    margin-left: 0;
}

.header-contact__link {
    color: var(--secondary-color);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--primary-transition);
}

.header-contact__link:hover,
.header-contact__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    transition: color var(--primary-transition);
}

.header-contact__icon {
    vertical-align: middle;
    margin-right: 10px;
    fill: var(--secondary-color);
    transition: fill var(--primary-transition);
}

.header-contact__link:hover > .header-contact__icon,
.header-contact__link:focus > .header-contact__icon {
    color: var(--accent-color);
    fill: var(--accent-color);
    transition: fill var(--primary-transition);
}

/* HERO */

.hero {
    background-color: #c4c4c4;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/Imghero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 696px;
    
    color: var(--white-color);
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__button {
    background-color: var(--accent-color);
    color: var(--white-color);
    
    cursor: pointer;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    transition: background var(--primary-transition);
}

.hero__button:hover,
.hero__button:focus {
    background-color: var(--button-active);
    transition: background var(--primary-transition);
}

/* Section features */

.features {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: 1px;
}

.features__list {
    display: flex;
}

.features-card {
    margin-left: 30px;
    flex-basis: 270px;
}

.features-card:first-child {
    margin-left: 0;
}

.features-card__icon {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features-card__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    
    color: var(--primary-color);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.features-card__text {
    margin-top: 0;
    margin-bottom: 0;
    
    color: var(--secondary-color);
    
    font-size: 14px;
    line-height: 1.71;
}

/* Section Occupation */

.occupation {
    padding-top: 0;
    padding-bottom: 94px;
}

.occupation__title {
    margin-top: 0;
    margin-bottom: 50px;
    
    text-align: center;
    color: var(--primary-color);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.occupation__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.occupation__item {
    position: relative;
    margin-left: 30px;
}

.occupation__item:first-child {
    margin-left: 0;
}

.occupation__text {
    position: absolute;
    bottom: 0;
    left: 0;
    
    
    height: 70px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    background: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
}

/* Team */

.team {
    background-color: #F5F4FA;

    padding-top: 94px;
    padding-bottom: 94px;
}

.team__title {
    margin-top: 0;
    margin-bottom: 50px;
    
    color: var(--primary-color);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.card-team {
    text-align: center;
    background-color: #FFFFFF;
    width: 270px;
    
    margin-right: 30px;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card-team:nth-child(4n) {
    margin-right: 0;
}

.card-team__container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-team__subtitle {
    margin-bottom: 10px;
    
    color: var(--primary-color);
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.card-team__text {
    margin-bottom: 16px;
    
    color: var(--secondary-color);
    
    font-size: 16px;
    line-height: 1.18;
}

.social {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.social__list {
    margin-left: 10px;
}

.social__list:first-child {
    margin-left: 0;
}

.social__link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: background var(--primary-transition);
}

.social__link:hover,
.social__link:focus {
    background-color: var(--accent-color);
    transition: background var(--primary-transition);
}

.social__icon {
    fill: #AFB1B8;
    transition: fill var(--primary-transition);
}

.social__link:hover>.social__icon,
.social__link:focus>.social__icon {
    fill: var(--white-color);
    transition: fill var(--primary-transition);
}

/* Company */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__subtitle {
    margin-bottom: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.company {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.company__list {
    margin-left: 30px;
}

.company__list:first-child {
    margin-left: 0;
}

.company__link {
    display: inline-flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: border var(--primary-transition);
}

.company__link:hover,
.company__link:focus {
    border-color: var(--accent-color);
    transition: border var(--primary-transition);
}

.company__icons {
    fill: #AFB1B8;
    transition: fill var(--primary-transition);
}

.company__link:hover>.company__icons,
.company__link:focus>.company__icons {
    fill: var(--accent-color);
    transition: fill var(--primary-transition);
}

/* Footer */

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__box {
    display: flex;
    align-items: baseline;
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
}

.address {
    font-style: normal;
}

.address__link {
    text-decoration: none;
    display: block;
    color: var(--white-color);
    
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
    transition: color var(--primary-transition);
}

.address__link--not-indent {
    margin-bottom: 0;
}

.address_link--text {
    color: var(--address-color);
}

.address__link:hover,
.address__link:focus {
    color: var(--accent-color);
    transition: color var(--primary-transition);
}

.footer-link {
    margin-left: 70px;
}

.footer-link__subtitle {
    color: var(--white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    margin-bottom: 20px;
}

.footer-social {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-social__list {
    margin-left: 10px;
}

.footer-social__list:first-child {
    margin-left: 0;
}

.footer-social__link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: background var(--primary-transition);
}

.footer-social__icon {
    fill: var(--white-color);
}

.footer-social__link:hover,
.footer-social__link:focus {
    background-color: var(--accent-color);
    transition: background var(--primary-transition);
}

.form-subscription {
    margin-left: auto;
}

.form-subscription__subtitle {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}

.form-subscription__box {
    text-align: center;
}

.form-subscription__input {
    margin: 0;
    padding: 10px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    width: 358px;
    height: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    /* identical to box height, or 125% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.form-subscription__input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.form-subscription__button {
    width: 200px;
    height: 50px;
    margin-left: 12px;
    background-color: var(--accent-color);
    color: var(--white-color);
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
    transition: background var(--primary-transition);
}

.form-subscription__button:hover,
.form-subscription__button:focus {
    background-color: var(--button-active);
    transition: background var(--primary-transition);
}

.form-subscription__icon {
    margin-left: 10px;
    vertical-align: middle;
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;

    transition: opacity var(--primary-transition);
}

.backdrop.is-hidden {
    visibility: visible;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 40px;
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--primary-transition);
}

.modal__button {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    border-radius: 50%;
    widows: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: fill var(--primary-transition);
}

.modal__icon {
    transition: fill var(--primary-transition);
}

.modal__icon:hover {
    fill: var(--accent-color);
    transition: fill var(--primary-transition);
}

.modal__button:focus>.modal__icon {
    fill: var(--accent-color);
    transition: fill var(--primary-transition);
}

textarea {
    resize: none;
}

.modal-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.modal-form

.modal-form__label {
    display: block;
    margin-bottom: 4px;
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.form-field {
    position: relative;
    margin-bottom: 10px;
}

.form-field__input {
    width: 100%;
    height: 40px;
    padding: 0 12px 0 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border var(--primary-transition);
}

.form-field__input:focus {
    border-color: var(--accent-color);
    transition: border var(--primary-transition);
}

.form-field__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--primary-transition);
}

.form-field__input:focus + .form-field__icon {
    fill: var(--accent-color);
    transition: fill var(--primary-transition);
}

.modal-form__textarea {
    display: block;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border var(--primary-transition);
}

.modal-form__textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.form-checkbox__input {
    appearance: none;
}

.form-checkbox__icon {
    position: absolute;
    left: 60px;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-right: 8px;
    user-select: none;
    
    border: 2px solid var(--primary-color);
    border-radius: 2px;
    transition: background var(--primary-transition), border var(--primary-transition);
}

.form-checkbox__terms {
    position: relative;
    padding-left: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
    
    letter-spacing: 0.03em;
    
    color: var(--secondary-color);
}

.form-checkbox__input:checked ~ .form-checkbox__icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-origin: border-box;
    transition: background var(--primary-transition), border var(--primary-transition);
}

.form-checkbox__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: underline;
    
    letter-spacing: 0.03em;
    
    color: var(--accent-color);
}

.button-send {
    display: block;
    margin: 0 auto;

    border: none;
    background-color: var(--accent-color);
    color: var(--white-color);

    cursor: pointer;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 52px;
    padding-right: 52px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    transition: background var(--primary-transition);
}

.button-send:hover,
.button-send:focus {
    background-color: var(--button-active);
    transition: background var(--primary-transition);
}

/* Portfolio */

.portfolio-page {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-page__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-page__buttons--retreat--bottom {
    margin-bottom: 50px;
}

.portfolio-page__button {

    background-color: var(--buttons-color);
    color: var(--primary-color);

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;

    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;

    text-align: center;
    letter-spacing: 0.03em;

    border-radius: 4px;
    border-color: transparent;
    transition: background var(--primary-transition), color var(--primary-transition), box-shadow var(--primary-transition);
}

.portfolio-page__button--retreat--pading {
    padding-left: 25px;
    padding-right: 25px;
}

.portfolio-page__button:hover,
.portfolio-page__button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: background var(--primary-transition), color var(--primary-transition), box-shadow var(--primary-transition);
}

.portfolio-page__button--retreat--left {
    margin-left: 8px;
}

.portfolio-project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-project__item {
    background: #FFFFFF;
    width: 370px;
}

.portfolio-project__link {
    display: block;
    text-decoration: none;
    position: relative;
    transition: box-shadow var(--primary-transition);
}

.portfolio-project__link:hover,
.portfolio-project__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow var(--primary-transition);
}

.portfolio-project__overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-project__text--overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 63px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 63px;

    opacity: 1;

    background: rgba(33, 150, 243, 0.9);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    transform: translateY(+100%);
    transition: transform var(--primary-transition);
}

.portfolio-project__link:hover .portfolio-project__text--overlay,
.portfolio-project__link:focus .portfolio-project__text--overlay {
    transform: translateY(0);
}

.card-project {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.card-project__title {

    text-decoration: none;

    margin-bottom: 4px;

    color: var(--primary-color);


    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;
}

.card-project__text {

    text-decoration: none;

    color: var(--secondary-color);

    font-size: 16px;
    line-height: 1.87;
}