h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: $primaryColor;
  background-color: $whiteColor;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
